<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
				  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.BoardMapper">

	<!-- Search query preference -->
	<sql id="criteria">
		<trim prefix="(" suffix=") and" prefixOverrides="or">
			<foreach item="type" collection="typeArr">
				<trim prefix="or">
					<choose>
						<when test="type == 'T'.toString()">
							b_title like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'C'.toString()">
							b_text like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'W'.toString()">
							u_email like '%'||#{keyword}||'%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>
	
	
	<insert id="insert">
		insert into BOARD_TABLE(b_number, b_title, b_text, u_email, b_regDate, b_updateDate) 
		values(BOARD_SEQ.nextval, #{b_title}, #{b_text}, #{u_email}, sysdate, sysdate)
	</insert>
	
	<insert id="insertSelectKey">
		<selectKey keyProperty="b_number" order="BEFORE" resultType="long">
			select BOARD_SEQ.nextval from dual
		</selectKey>
		insert into BOARD_TABLE(b_number, b_title, b_text, u_email, b_regdate, b_updatedate) values(#{b_number}, #{b_title}, #{b_text}, #{u_email}, sysdate, sysdate)
	</insert>
	
	<select id="read" resultType="org.zerock.domain.BoardVO">
		select * from BOARD_TABLE where b_number = #{b_number}
	</select>

	<delete id="delete">
		delete from BOARD_TABLE where b_number = #{b_number}
	</delete>
	
	<update id="update">
		update BOARD_TABLE set b_title = #{b_title}, b_text = #{b_text}, u_email = #{u_email}, b_updateDate = sysdate where b_number = #{b_number}
	</update>
	
	<select id="getTotalCount" resultType="int">
		<![CDATA[
			select count(*) from BOARD_TABLE
			where
		]]>
			<include refid="criteria" />
		<![CDATA[
			b_number > 0
		]]>
	</select>
	
	<select id="getListPaging" resultType="org.zerock.domain.BoardVO">
		<![CDATA[
			select b_number, b_title, b_text, u_email, b_regDate, b_updateDate, b_img from 
			(select /*+ index_desc(BOARD_TABLE pk_board_b_number) */ 
			rownum rn, b_number, b_title, b_text, u_email, b_regdate, b_updatedate, b_img 
			from BOARD_TABLE
			where
		]]>
		
		<include refid="criteria"/>
		
		<![CDATA[
			rownum <= #{pageNum} * #{amount})
			where rn > (#{pageNum} - 1) * #{amount}
		]]>
	</select>
	
	<select id="getU_nameFromU_Email" resultType="string">
		<![CDATA[
			select u_name from user_table where u_email=#{u_email}
		]]>
	</select>

	<update id="setBoardImage">
		<![CDATA[
			update Board_table set b_img = (select b_uploadpath||'/'||b_uuid||'_'||b_filename from ATTACH_TABLE where b_number = #{b_number}) where b_number = #{b_number}
		]]>
	</update>
		
</mapper>